@use "sass:math";
// SP幅
@mixin query($size) {
    @media screen and (max-width: 834px) {
        @content;
    }
}

// デスクトップ幅
@mixin query_min($size) {
    @media screen and (min-width: #{$size}px) {
        @content;
    }
}

// ホバー
@mixin hover {
    @media (hover: hover) and (pointer: fine) {
        &:hover {
            @content;
        }
    }
}

@mixin fts($fts, $lin: 24) {
    $rem: math.div($fts, 10);
    $linS: math.div($lin, $fts);
    font-size: #{$rem}rem;
    line-height: $linS;
}

@function tracking-to-em($tracking) {
    @return $tracking * 0.001 + 0em;
}

@mixin ls($tracking) {
    letter-spacing: tracking-to-em($tracking);
    text-indent: tracking-to-em($tracking);
}

@mixin red {
    background-color: red;
}

@mixin font($fts: 16, $lin: 28, $tracking: 0) {
    $rem: math.div($fts, 10);
    $linS: math.div($lin, $fts);
    font-size: #{$rem}rem;
    line-height: $linS;
    letter-spacing: tracking-to-em($tracking);
}
@mixin font($size: "f-16", $color: var(--black_1)) {
    $font-size-pixel: 16;
    $line-height: 28;
    $tracking: 50;
    $font-weight: 500;

    // 基本========================
    @if $size == "f-16-bold" {
        $font-size-pixel: 16;
        $line-height: 28;
        $tracking: 50;
        $font-weight: 700;
    } @else if $size == "f-12" {
        $font-size-pixel: 12;
        $line-height: 21;
        $tracking: 50;
        $font-weight: 500;
    } @else if $size == "f-12-bold" {
        $font-size-pixel: 12;
        $line-height: 21;
        $tracking: 50;
        $font-weight: 700;
    } @else if $size == "f-20" {
        $font-size-pixel: 20;
        $line-height: 35;
        $tracking: 50;
        $font-weight: 500;
    } @else if $size == "f-20-bold" {
        $font-size-pixel: 20;
        $line-height: 35;
        $tracking: 50;
        $font-weight: 700;
    } @else if $size == "f-24" {
        $font-size-pixel: 24;
        $line-height: 42;
        $tracking: 50;
        $font-weight: 500;
    } @else if $size == "f-24-bold" {
        $font-size-pixel: 24;
        $line-height: 42;
        $tracking: 50;
        $font-weight: 700;
    } @else if $size == "f-28" {
        $font-size-pixel: 28;
        $line-height: 49;
        $tracking: 50;
        $font-weight: 500;
    } @else if $size == "f-28-bold" {
        $font-size-pixel: 28;
        $line-height: 49;
        $tracking: 50;
        $font-weight: 700;
    } @else if $size == "f-32" {
        $font-size-pixel: 32;
        $line-height: 56;
        $tracking: 50;
        $font-weight: 500;
    } @else if $size == "f-32-bold" {
        $font-size-pixel: 32;
        $line-height: 56;
        $tracking: 50;
        $font-weight: 700;
    } @else if $size == "f-40" {
        $font-size-pixel: 40;
        $line-height: 70;
        $tracking: 50;
        $font-weight: 500;
    } @else if $size == "f-40-bold" {
        $font-size-pixel: 40;
        $line-height: 70;
        $tracking: 50;
        $font-weight: 700;
    }
    // 例外========================

    $rem: math.div($font-size-pixel, 10);
    $linS: math.div($line-height, $font-size-pixel);
    font-size: #{$rem}rem;
    line-height: $linS;
    letter-spacing: tracking-to-em($tracking);
    font-weight: $font-weight;
    color: $color;
}

@mixin leader($row: 2) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $row;
    overflow: hidden;
}

%is-show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: 1;
}
@mixin is-show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: 1;
}

%is-hide {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: -1;
}

@mixin is-hide {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: -1;
}

%scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}
